@page
@model ProiectMedii.Pages.Inrolari.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Inrolare</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Inrolare.Curs)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Inrolare.Curs.Denumire)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Inrolare.Student)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Inrolare.Student.ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Inrolare.Nota)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Inrolare.Nota)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Inrolare.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
